{% extends 'base.html.twig' %}

{% block body %}
<br>
<h1 class="offset-md-2">Bem vindo ao teste de QSA da Vox Tecnologia.</h1>
<br>
<h4 class="offset-md-4"><u>Esse teste é dividido em duas partes.</u></h4>
<br>
<br>
<div class="row">
    <div class=" bg-secondary rounded text-white" style="width:450px;height:200px;margin-left:20px">
        <br>
        <br>
        <h4 style="margin-left:40px">Você pode cadastrar empresas por aqui!</h4>
        <br>
        <a href="/empresas/criar" style="margin-left:160px" class="btn btn-primary">Abrir Empresa</a>
        <br>
    </div>
    <div class=" bg-secondary rounded text-white" style="width:450px;height:200px;margin-left:150px">
        <br>
        <br>
        <h4 style="margin-left:45px">Você pode cadastrar pessoas por aqui!</h4>
        <br>
        <a href="/pessoas/criar" style="margin-left:160px" class="btn btn-primary">Cadastrar Pessoa</a>
        <br>
    </div>
</div>
<br>
<br>
<br>
<h4 class="offset-md-4"><u>Ou ... selecione uma opção no NavBar.</u></h4>
<br>
<h2 style="margin-left:310px"> Desenvolvido por: Alexandre Matheus.</h4>
{% endblock %}